In [1]:
#imports
import pandas as pd
import os
import re

In [2]:
# set filepaths
root_filepath = os.getcwd()
ubuntu_filepath1 = os.path.join(root_filepath, 'data', 'Ubuntu-dialogue-corpus', 'dialogueText_196.csv')
ubuntu_filepath2 = os.path.join(root_filepath, 'data', 'Ubuntu-dialogue-corpus', 'dialogueText_301.csv')
ubuntu_filepath3 = os.path.join(root_filepath, 'data', 'Ubuntu-dialogue-corpus', 'dialogueText.csv')

In [3]:
# load 1st csv
df1 = pd.read_csv(ubuntu_filepath1)
df1.head()

,folder,dialogueID,date,from,to,text
0,301,1.tsv,2004-11-23T11:49:00.000Z,stuNNed,NaN,any ideas why java plugin takes so long to load?
1,301,1.tsv,2004-11-23T11:49:00.000Z,crimsun,stuNNed,java 1.4?
2,301,1.tsv,2004-11-23T11:49:00.000Z,stuNNed,crimsun,yes
3,301,1.tsv,2004-11-23T11:49:00.000Z,crimsun,stuNNed,java 1.5 loads _much_ faster
4,301,1.tsv,2004-11-23T11:50:00.000Z,stuNNed,crimsun,noneus: how can i get 1.5 is there a .deb some...

In [4]:
cnt_df1 = df1.groupby(['dialogueID'])['dialogueID'].count().reset_index(name='count')
cnt_df1.head(10)

   dialogueID  count
0       1.tsv  32901
1      10.tsv   8825
2     100.tsv   2008
3    1000.tsv    549
4   10000.tsv    155
5  100000.tsv      8
6  100001.tsv      8
7  100002.tsv      8
8  100003.tsv      8
9  100004.tsv      8

In [5]:
# load 2nd csv
df2 = pd.read_csv(ubuntu_filepath2)
df2.head()

,folder,dialogueID,date,from,to,text
0,301,1.tsv,2004-11-23T11:49:00.000Z,stuNNed,NaN,any ideas why java plugin takes so long to load?
1,301,1.tsv,2004-11-23T11:49:00.000Z,crimsun,stuNNed,java 1.4?
2,301,1.tsv,2004-11-23T11:49:00.000Z,stuNNed,crimsun,yes
3,301,1.tsv,2004-11-23T11:49:00.000Z,crimsun,stuNNed,java 1.5 loads _much_ faster
4,301,1.tsv,2004-11-23T11:50:00.000Z,stuNNed,crimsun,noneus: how can i get 1.5 is there a .deb some...

In [6]:
cnt_df2 = df2.groupby(['dialogueID'])['dialogueID'].count().reset_index(name='count')
cnt_df2.head(10)

   dialogueID  count
0       1.tsv  68594
1      10.tsv  16198
2     100.tsv   4462
3    1000.tsv   1125
4   10000.tsv    228
5  100000.tsv     33
6  100001.tsv     33
7  100002.tsv     33
8  100003.tsv     33
9  100004.tsv     33

In [7]:
# load 3rd csv
df3 = pd.read_csv(ubuntu_filepath3)
df3.head()

,folder,dialogueID,date,from,to,text
0,3,126125.tsv,2008-04-23T14:55:00.000Z,bad_image,NaN,"Hello folks, please help me a bit with the fol..."
1,3,126125.tsv,2008-04-23T14:56:00.000Z,bad_image,NaN,Did I choose a bad channel? I ask because you ...
2,3,126125.tsv,2008-04-23T14:57:00.000Z,lordleemo,bad_image,the second sentence is better english and we...
3,3,64545.tsv,2009-08-01T06:22:00.000Z,mechtech,NaN,Sock Puppe?t
4,3,64545.tsv,2009-08-01T06:22:00.000Z,mechtech,NaN,WTF?

In [8]:
cnt_df3 = df3.groupby(['dialogueID'])['dialogueID'].count().reset_index(name='count')
cnt_df3.head(10)

   dialogueID  count
0       1.tsv      3
1      10.tsv      3
2     100.tsv      3
3    1000.tsv      3
4   10000.tsv      3
5  100000.tsv      3
6  100001.tsv      3
7  100002.tsv      3
8  100003.tsv      3
9  100004.tsv      3

In [9]:
# merge datapoints
part1 = df1[df1.dialogueID == '10000.tsv'][['dialogueID', 'text']]
part2 = df2[df2.dialogueID == '100000.tsv'][['dialogueID', 'text']]
part3 = df2[df2.dialogueID == '100001.tsv'][['dialogueID', 'text']]

In [10]:
merged = pd.concat([part1, part2, part3], axis=0)
len(merged)

221

In [11]:
# save partial data
save_data1 = os.path.join(root_filepath, 'data', 'Ubuntu-dialogue-corpus', 'partial_data.csv')
merged.to_csv(save_data1)

In [12]:
# function to clean tag name
def clean_tag_name(tag_name):
    tag_name = tag_name.lower()
    tag_name = re.sub('[^a-zA-Z0-9]', ' ', tag_name)
    tag_name = re. sub('\s{2,}', ' ', tag_name)
    tag_name = re. sub('\s', '-', tag_name).strip('-')
    return tag_name

In [13]:
annotation_tag_list = []
with open(os.path.join(root_filepath, 'data', 'example_file_for_multigo.tsv'), 'r') as fp:
    for line in fp:
        lst = line.split('\t')
        annotation_tag_list.append(clean_tag_name(lst[0]))
print(annotation_tag_list)
print(len(annotation_tag_list))

['statement-non-opinion', 'acknowledge-backchannel', 'statement-opinion', 'agree-accept', 'abandoned-or-turn-exit', 'appreciation', 'yes-no-question', 'non-verbal', 'yes-answers', 'conventional-closing', 'uninterpretable', 'wh-question', 'no-answers', 'response-acknowledgement', 'hedge', 'declarative-yes-no-question', 'other', 'backchannel-in-question-form', 'quotation', 'summarize-reformulate', 'affirmative-non-yes-answers', 'action-directive', 'collaborative-completion', 'repeat-phrase', 'open-question', 'rhetorical-questions', 'hold-before-answer-agreement', 'reject', 'negative-non-no-answers', 'signal-non-understanding', 'other-answers', 'conventional-opening', 'or-clause', 'dispreferred-answers', '3rd-party-talk', 'offers-options-commits', 'self-talk', 'downplayer', 'maybe-accept-part', 'tag-question', 'declarative-wh-question', 'apology', 'thanking']
43

In [15]:
# load multigo data
multigo_filepath = os.path.join(root_filepath, 'data', 'software.tsv')
savefile_multigo = os.path.join(root_filepath, 'data', 'multigo_data_2.csv')
conv_ids = ["acs-00ad5526-bb84-4148-ac30-19afca56c12b-1",
"acs-629291d6-ca2b-4b63-aaf7-012ef4f602c9-1",
"acs-b5a66197-127c-4bd1-8946-8813b9cbdeb8-1",
"acs-1d1dbfa6-4e53-44cc-b748-5e3a44b92508-1",
"acs-4463829b-6d87-477a-a882-d6cd78a6056b-1",
"acs-bde6434f-e72b-493e-8950-429c2a9de2b4-1",
"acs-786b69fa-a2bd-4b27-99b5-8b2111cd1bc8-1",
"acs-658105cf-4abe-4d69-81d0-5501cd6afa2b-1",
"acs-4f6b78f1-f373-4943-9cdd-022d04f3d889-1",
"acs-ac86e19d-1ab6-43af-8dfb-1477d0ba727f-1",
"acs-88a7c284-3312-469c-9880-38275cca39e0-1",
"acs-b858a682-e084-4dda-8804-1df04b44d870-1"]


with open(savefile_multigo, 'w') as sv:
    sv.write('dialogueID,text,\n')
    with open(multigo_filepath, 'r') as fp:
        for line in fp:
            line = line.split(',')
            conv_id = line[0]
            if conv_id in conv_ids:
                text = line[-2]
                sv.write(conv_id + "," + text + ",\n")